@media (min-width: 375px){
    body{  background-image: url("https://data.whicdn.com/images/279442787/large.jpg");
        background-repeat: no-repeat;
     
             }
        
        #firebaseui-auth-container{
        position: fixed;
        
        }
        #logo{
            position: center;
         background-size: 20%;
         padding-left: 4%;
         padding-right: 5%;
         padding-top: 8%;
         padding-bottom: 12%;
     
       
        }
      
    }