@media (min-width: 375px){



        .photoProfile {
            float: left;
            background-size: 3%;
            width: 10%;
            height:10%;
            margin: 5%;
            padding: 3%;
            border-radius: 50%;
        } 
    
        .wallButton{
            width: 10%;
            padding: 0%;
            margin: 0%;
            width: 10%;
            height: 10%;
            padding: 4%
        }

        #logomuro{
            border-radius: 0%;
        }
      
        #wallHead{
            background-image: url("https://media3.giphy.com/media/O5ac76MtFGPHG/giphy.gif")        }


        .likeButton{
            width: 3%;
            height: 3%;
            padding: 1%;
            width: 4%;
            height: 4%;
            padding: 1%;
        }

        h1{
            font-family:'Freckle Face', cursive;
            font-size: 200%;
            color: black;
            text-align: center;
        }
        h2{
            font-family: 'Codystar', cursive;
            font-size: 100%;
            color: #181818;
            text-align: center;
        }
        h3{
            font-family: 'Buda', cursive;
        }
    
    }

    .caja{
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #000000; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: #b7c3e4; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;}
   


body{
    background-color: #ffffff;
}

#loguedout{
}

