@media (min-width: 375px){
    body{  background-image: url("https://i.pinimg.com/originals/2b/12/b5/2b12b54e590c381d251ed76fdeedfd42.jpg");
        background-repeat: no-repeat;
        background-position: absolute; }
        
        #firebaseui-auth-container{
        position: fixed;
        
        }
        #logo{
            position: center;
         background-size: 20%;
         padding-left: 4%;
         padding-right: 5%;
         padding-top: 8%;
         padding-bottom: 12%;
         opacity:0.6; 
       
        }
      
    }