@media (min-width: 375px){
    .hamburger{
        background-color: #F84741;
       
    }
    .logotest{
        float: left;
        position: flex;
    }
    

        #Photouserprofile {
            float: left;
        } 
        
        #post{
            float: relative;
            margin: 2%;
            padding: 3%;
            border-radius: 30%;
        }
    img{
        margin: 5%;
        padding: 3%;
        border-radius: 50%;
    }
    #userprofile{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: center;
        }
  
    }